<div class="row">
  <div class="col-sm-6">
    <div class="heading">
      <h6>Professional Profile</h6>
    </div>
    <p>I am a passionate, highly enthusiastic IT professional / designer. Have strong desire for knowledge and challenges. Actively
      involved with the latest updates in technology and designing world. A fast learner who picks up new skills quickly.
      Self-educated, Creative, Analytical, Self-motivated and Versatile person. Thinking outside the box.</p>
  </div>

  
</div>


