<img src="..\..\assets\photoid.jpg" class="rounded-circle" style="display:inline ; width:60%;" alt="Bird">

<h2>Vivek Singh</h2>

<p class="proffession">Software Engineer and Graphic Designer</p>



<div class="contact-detail">
    <p style="margin-top:30px;">
        <i class="fas fa-mobile-alt"></i> +918475893792
        <br>
        <i class="fas fa-envelope"></i> viveksinghreborn@gmail.com</p>

    <div class="social" style="margin-top:30px;">
        <span class="social-icon">
            <i class="fab fa-github-square fa-2x" style=" margin: 0px 5px"></i>
        </span>
        <span class="social-icon">
            <i class="fab fa-facebook fa-2x" style=" margin: 0px 5px"></i>
        </span>
        <span class="social-icon">
            <i class="fab fa-instagram fa-2x" style=" margin: 0px 5px"></i>
        </span>
        <span class="social-icon">
            <i class="fab fa-skype fa-2x" style=" margin: 0px 5px"></i>
        </span>
        <span class="social-icon">
            <i class="fab fa-linkedin fa-2x" style=" margin: 0px 5px"></i>
        </span>
    </div>


    <p class="proffesionalProfile">" I am a passionate and highly enthusiastic Software Engineer, Graphic and Web designer. Have a strong desire for knowledge and challenges. Thinking outside the box "
    </p>

</div>